<a href="https://colab.research.google.com/github/ybaris/DATA-690-WANG/blob/master/Assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html
2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.
3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)
4. Document the data quality issues using a Markdown cell so the reader understands what the problems are.
5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")
6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.
7. Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)
8. After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.
9. Use Pandas to read the saved cleansed file and explore to make sure it is clean.
10. Updload both the Jupyter notebook and the cleanse data file to GitHub and submit the GitHub link in BlackBoard.

In [60]:
import pandas as pd

### 1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [61]:
df_list = pd.read_html("https://www.genealogybranches.com/censuscosts.html")

In [62]:
df_list

[              0                 1               2                        3
 0   Census Year  Total Population     Census Cost  Average Cost Per Person
 1          1790           3929214         $44,377               1.13 cents
 2          1800           5308483         $66,109               1.24 cents
 3          1810           7239881        $178,445               2.46 cents
 4          1820           9633822        $208,526               2.16 cents
 5          1830          12866020        $378,545               2.94 cents
 6          1840          17069458        $833,371               4.88 cents
 7          1850          23191876      $1,423,351               6.14 cents
 8          1860          31443321      $1,969,377               6.26 cents
 9          1870          38558371      $3,421,198               8.87 cents
 10         1880          50155783      $5,790,678              11.54 cents
 11         1890          62979766     $11,547,127              18.33 cents
 12         1900          76303387     $11,854,000              15.54 cents
 13         1910          91972266     $15,968,000              17.07 cents
 14         1920         105710620     $25,117,000              23.76 cents
 15         1930         122775046     $40,156,000              32.71 cents
 16         1940         131669275     $67,527,000              51.29 cents
 17         1950         151325798     $91,462,000              60.44 cents
 18         1960         179323175    $127,934,000              71.34 cents
 19         1970         203302031    $247,653,000                    $1.22
 20         1980         226542199  $1,078,488,000                    $4.76
 21         1990         248718301  $2,492,830,000                   $10.02
 22         2000         281421906    $4.5 Billion                   $15.99
 23        2010*         308745538     $13 Billion                   $42.11,
                                                    0
 0  The U.S. population reached 300,000,000 on 17 ...]

### 2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [63]:
# find out how many tables
len(df_list)

2

In [64]:
# find out which dataframe is useful
df1 = df_list[0]
df1.head(3)

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents

In [65]:
df2 = df_list[1]
df2
# df1 should be used for further processing.

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

In [66]:
df1

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

### 3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [67]:
first_row = df1.iloc[0]
first_row

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [68]:
df1.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [69]:
df1.columns = first_row
df1.head()

0  Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [70]:
df1.drop([0], inplace=True)
# df1 = df1.drop([0])
df1.head()

0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

In [71]:
# determining data type
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1 to 23
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 920.0+ bytes

### 4. Document the data quality issues using a Markdown cell so the reader understands what the problems are.

The data has multiple character imperfections in different columns. For example in census year column there is an asterisks which needs to be removed. 

In total population column there are commas in each row which can't be read by pyhton. We need to remove them as well.

In census cost column we need to remove commas and dollar signs. We need to replace "Billion" with nine zeros. 

For average cost per person column we need to remove "cents", dollar signs. After that we need to convert cents to dollars.

### 5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [72]:
# creating a function to cleanse census year data
def cleanse_year(raw_year):
    year = raw_year.replace("*", "") # replacing asteriks with nothing
    return  year

cleanse_year("1989*")

'1989'

### 6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [73]:
# applying the function to the data with pandas "apply" 
df1["Census Year"] = df1["Census Year"].apply(cleanse_year)
df1

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

### 7. Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

In [74]:
# creating a function for total population 
def cleanse_population(raw_population):
    population = raw_population.replace(",", "")
    return population 

cleanse_population("123,456")

'123456'

In [75]:
# applying cleanse_population to the data
df1["Total Population"] = df1["Total Population"].apply(cleanse_population)
df1

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

In [76]:
# creating a function for Census Cost
def cleanse_cost(raw_cost):
    cost = raw_cost.lstrip("$").replace(",", "")
    if  raw_cost.find("4.5") != -1:          # if "4.5" in raw_cost:
        cost = "45" + "0" * 8
    elif raw_cost.find("Billion") != -1:     # elif "Billion" in raw_cost: 
        cost = "13" + "0" * 9
    return cost 

cleanse_cost("Billion")

'13000000000'

In [77]:
# applying cleanse_cost to the data
df1["Census Cost"] = df1["Census Cost"].apply(cleanse_cost)
df1

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377              1.13 cents
2         1800          5308483        66109              1.24 cents
3         1810          7239881       178445              2.46 cents
4         1820          9633822       208526              2.16 cents
5         1830         12866020       378545              2.94 cents
6         1840         17069458       833371              4.88 cents
7         1850         23191876      1423351              6.14 cents
8         1860         31443321      1969377              6.26 cents
9         1870         38558371      3421198              8.87 cents
10        1880         50155783      5790678             11.54 cents
11        1890         62979766     11547127             18.33 cents
12        1900         76303387     11854000             15.54 cents
13        1910         91972266     15968000             17.07 cents
14        1920        105710620     25117000             23.76 cents
15        1930        122775046     40156000             32.71 cents
16        1940        131669275     67527000             51.29 cents
17        1950        151325798     91462000             60.44 cents
18        1960        179323175    127934000             71.34 cents
19        1970        203302031    247653000                   $1.22
20        1980        226542199   1078488000                   $4.76
21        1990        248718301   2492830000                  $10.02
22        2000        281421906   4500000000                  $15.99
23        2010        308745538  13000000000                  $42.11

In [78]:
# creating a function for Average cost per person
def cleanse_average_cost(raw_average_person): 
    if "$" in raw_average_person:
        average_person = raw_average_person.replace("$", "")
    else:
        average_person = raw_average_person.strip("cents")
        average_person = float(average_person) / 100
    return average_person

cleanse_average_cost("$5")

'5'

In [79]:
# applying cleanse_average_cost to the data
df1["Average Cost Per Person"] = df1["Average Cost Per Person"].apply(cleanse_average_cost)
df1

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377                  0.0113
2         1800          5308483        66109                  0.0124
3         1810          7239881       178445                  0.0246
4         1820          9633822       208526                  0.0216
5         1830         12866020       378545                  0.0294
6         1840         17069458       833371                  0.0488
7         1850         23191876      1423351                  0.0614
8         1860         31443321      1969377                  0.0626
9         1870         38558371      3421198                  0.0887
10        1880         50155783      5790678                  0.1154
11        1890         62979766     11547127                  0.1833
12        1900         76303387     11854000                  0.1554
13        1910         91972266     15968000                  0.1707
14        1920        105710620     25117000                  0.2376
15        1930        122775046     40156000                  0.3271
16        1940        131669275     67527000                  0.5129
17        1950        151325798     91462000                  0.6044
18        1960        179323175    127934000                  0.7134
19        1970        203302031    247653000                    1.22
20        1980        226542199   1078488000                    4.76
21        1990        248718301   2492830000                   10.02
22        2000        281421906   4500000000                   15.99
23        2010        308745538  13000000000                   42.11

### 8. After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [83]:
df1.to_csv("census_cost_cleansed.csv", index=False)

### 9. Use Pandas to read the saved cleansed file and explore to make sure it is clean.

In [84]:
data = pd.read_csv("census_cost_cleansed.csv")

In [85]:
data

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906   4500000000                  15.9900
22         2010         308745538  13000000000                  42.1100